<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>WorkerEditServlet</servlet-name>
        <servlet-class>edu.hneu.kpp.koval.worker.WorkerEditServlet</servlet-class>
    </servlet>
	 <servlet>
        <servlet-name>WorkerDeleteServlet</servlet-name>
        <servlet-class>edu.hneu.kpp.koval.worker.WorkerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkerCreateServlet</servlet-name>
        <servlet-class>edu.hneu.kpp.koval.worker.WorkerCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkerIndexServlet</servlet-name>
        <servlet-class>edu.hneu.kpp.koval.worker.WorkerIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkerEditServlet</servlet-name>
        <url-pattern>/worker/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerDeleteServlet</servlet-name>
        <url-pattern>/worker/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerCreateServlet</servlet-name>
        <url-pattern>/worker/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkerIndexServlet</servlet-name>
        <url-pattern>/worker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
